.text-bar{
    font-size: 10px;
}

.suggestion-list{
    width: 147px;
    font-size: 14px;
    opacity: 0.75;
    position: absolute;
}

.suggestion{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: rgba(247,247,247,0.75);
    z-index: 1000;
}

.suggestion li{
    list-style: none;
    padding: 5px;
    cursor: pointer
}

.suggestion-list li:hover{
    background-color: rgba(212,212,212);
}

.highlight {
    color: blue;
    font-weight: bold; 
}

.highlighted-background{
    background-color: rgba(212,212,212);
}
