.left{
    width: 200px;
    font-size: 16px;
    opacity: 0.75;
    position: absolute;
}

.suggestions{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: rgba(247,247,247,0.75);
    z-index: 1000;
}

.suggestions li{
    list-style: none;
    padding: 5px;
    cursor: pointer
}

.left li:hover{
    background-color: rgba(212,212,212);
}
